/* Add CSS here */
body{
     display: grid;
     height: 100vh;
 }
 
 .container {
     display: grid;
     grid-template-rows: 2fr 1fr 1fr 0.3fr 0.65fr 0.65fr 1fr 2.5fr;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: auto; 
     width: 95%;
     height: 95%;
     padding: 15px;
     border-radius: 2%;
     color: black;
     font-size: 13px;
     box-shadow: 0px 0px 15px;
 }
 
 .signup{
     grid-row: 1;
     grid-column: 1 / -1;
     text-align: end;
     font-size: 12px;
 }
 
 .signup a {
     color: rgb(3, 3, 192);
 }
 
 .forgot-password{
     grid-row: 2;
     grid-column: 2 / 4;
     align-self: end;
     text-align: justify;
     font-size: 26.5px;
 }
 
 .forgot-password-instructions{
     grid-row: 3;
     grid-column: 2 / 4;
     padding-right: 12px;
     text-align: center;
     font-weight: lighter;
 }
 
 .email-address{
     grid-row: 4;
     grid-column: 2;
     font-size: 14px;
     font-weight: bold;
 }
 .clicked-button{
     grid-row: 6;
     grid-column: 2 / 4;
     height: 90%;
     align-self: center;
     align-items: center;
     box-shadow: 0px 0px 2px rgb(0, 0, 0);
     color: white;
     font-weight: lighter;
     background-color: #687086;
 }
 
 input[type=text]{
     grid-row: 5;
     grid-column: 2 / 4;
     height: 90%;
     align-self: center;
     padding: 5px;
     border-width: 2px;
     border-color: black;
     border-radius: 5px;
 }
 
 .request-reset-link{
     grid-row: 6;
     grid-column: 2 / 4;
     height: 90%;
     align-self: center;
     align-items: center;
     border-radius: inherit;
     box-shadow: 0px 0px 2px rgb(0, 0, 0);
     background-color: #212941;
     color: white;
 }
 
 .back-to-signin{
     grid-row: 7;
     grid-column: 2 / 4;
     align-self: center;
     text-align: center;
     text-decoration: underline;
 }